body {
  background-color: #d2e8fc;
}

.first {
  background-color: white;
  width: 300px;
  padding: 15px 15px 30px;
  border-radius: 20px;
  position: absolute;
  left: 500px;
  bottom: 50px;

}

.code-img {
  width: 300px;
  border-radius: 20px;
}

.head2 {
  color: #0d1b3ae7; 
  font-family: 'Rubik', sans-serif;
  font-weight: 50px;
  font-size: 50;
  
}

.head3 {
  color: grey;
  font-family: 'Rubik', sans-serif;
  font-weight: 10;
  font-size: medium;
}